.heading-text {
  text-decoration: underline;
  font-size: 45px;
}

.blog-style {
  background-color: #f2f2f2;
  margin: 0.5rem;
}

.new-blog-button {
  display: block;
  margin: auto;
  width: 300px;
  margin-bottom: 10px;
}

.new-blog-form {
  margin: auto;
  width: 90%;
}

.form-button {
  margin: 5px;
}

.full-blog-button {
  color: black;
}

.full-blog-style {
  background-color: #f2f2f2;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.full-blog-title {
  font-size: 2.5rem;
}
.full-blog-subtitle {
  font-size: 1.5rem;
}
.full-blog-style p {
  font-size: 1.3rem;
}
.update-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.update-info {
  font-size: 0.8;
  font-style: italic;
  color: green;
}
